body {
  margin: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: lightgray;
  color: black;
  border-radius: 5px;
  padding: 20px;
}
